.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.9rem;
}

.character-card {
  padding: 16px;
  border: black 1px solid;
  margin: 12px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.character-card:hover {
  background-color: #36454f;
  color: whitesmoke;
  border: yellow 1px solid;
}

.character-basic-info {
  padding: 8px 0;
}
