
.search-bar {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 12px;
}

.input-field {
    display: flex;

    padding: 12px;
    width: 40%;
}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.9rem;
}

.character-card {
    padding: 16px;
    border: black 1px solid;
    margin: 12px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.character-card:hover {
    background-color: #36454F;
    color: whitesmoke;
    border: yellow 1px solid;
}

.character-basic-info {
    padding: 8px 0;
}

